.error {
    color: red;
}

.info {
    color: #336699;
    font-weight: bold;
}
.center {
    margin: auto;
    width: 50%;
    height: 50px;
    border:3px solid #8AC007;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

.green {
    color: green;
}
table.vertical tr{
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
table.vertical tr td{
    border: none;
}
table.vertical th{
    border: none;
    color: #000;
}
table.vertical
    .next{
        vertical-align: top;
        padding: 5px;
        color: darkmagenta;
        font-size: large;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
    }
    .title {
        vertical-align: middle;
        text-align: center;
        padding: 5px;
        font-size: large;
        font-weight: bold;
    }
    .image {
        padding:1px;
        width: 100px;
        height: 150px;
        vertical-align: middle;
    }
    .price {
        font-weight: bold;
        text-align: center;
        font-size: larger;
        color: darkmagenta;
        font-family: inherit;
        vertical-align: middle;
    }
    .description {
        color: #000;
        vertical-align: middle;
        padding: 5px;
        font-size: small;
        text-align: justify;
    }

