.error {
    color: red;
}

.info {
    color: #336699;
    font-weight: bold;
}
.center {
    margin: auto;
    width: 50%;
    height: 50px;
    border:3px solid #8AC007;
    padding-left: 10px;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
}
.green {
    color: green;
}

/* VERTICAL WIDGET ELEMENTS*/
table.vertical tr{
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}
table.vertical tr td{
    border: none;
}
table.vertical th{
    border: none;
    color: #000;
}
table.vertical .title {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}
table.vertical .image {
    padding:1px;
    width: 150px;
    height: 150px;
    vertical-align: middle;
}
table.vertical .price {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    color: darkmagenta;
    font-family: inherit;
    vertical-align: middle;
}
table.vertical .description {
    color: #000;
    vertical-align: middle;
    padding: 5px;
    font-size: small;
    text-align: justify;
}
table.vertical td.nextTd{
    text-align: right;
}
table.vertical img {
    width: 150px;
    height: 150px;
}

div .nextVertical button{
    width: 100px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    float: right;
}
div .nextVertical button:hover{
    font-size: 14px;
}

/* HORIZONTAL WIDGET ELEMENTS */

table.horizontal{
    border: 1px solid rgba(51, 51, 51, 0.1);
}
table.horizontal td{
    border: 1px solid rgba(51, 51, 51, 0.1);
}
table.horizontal img {
    width: 130px;
    height: 150px;
}
table.horizontal .title {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-size: large;
    font-weight: bold;
}
table.horizontal .image {
    padding:1px;
    width: 200px;
    height: 150px;
    vertical-align: middle;
}
table.horizontal .name {
    color: #000;
    vertical-align: middle;
    padding: 5px;
    font-size: small;
}
table.horizontal .name a:link{
    color: #000;
}
table.horizontal .price {
    font-weight: bold;
    text-align: center;
    font-size: larger;
    color: darkmagenta;
    font-family: inherit;
    vertical-align: middle;
}

div .nextHorizontal{
    position: relative;
    top: -220px;
    float: right;
}

div .nextHorizontal button{
    width: 30px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
div .nextHorizontal button:hover{
    font-size: 32px;
}

section {
    margin: auto;
    padding: 10px;
}
div .options{
    border: 1px solid green;
    margin-top: 100px;
    width: 25%;
    float: left;
}
div .options .form{
    margin-top: 10px;
    margin-left: 10px;
}
div .options .default{
    height: 30px;
}

div .productCount{
    margin-left: 30%;
    margin-top: 100px;
    width: 600px;
}

div .productCount span{
    font-style: oblique;
    font-weight: bold;
    font-size: 22px;
}

table.filter th.filterType{
    padding: 10px 0px 10px 0px;
    text-align: left;
    text-decoration: underline;
}

section.submitButton{
    float: left;
    padding: 20px;
}
